#
#   Author: Rohith (gambol99@gmail.com)
#   Date: 2015-02-10 14:07:32 +0000 (Tue, 10 Feb 2015)
#
#  vim:ts=2:sw=2:et
#

*.swp
*.secret
aws/credentials
aws/terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform

